<script>
    $.fn.myfunc = function(){

        $(this).find("*").on("click", function () {
            $(".my-selected-value").val($(this).text());
            $(".my-selected-text").text($(this).text());
            $(".my-selected-image").attr("src", $(this).find("img").attr("src"));
            $("#pais").val($(this).find("input").val());
            $(".my-option").toggle();
        });
    };

    $.fn.mypointer = function() {
        $(this).on("click", function () {
            $(".my-option").toggle();
        });
    };

</script>



<div class="jumbotron">
    <h2>Mantenimiento de facturas</h2>
</div>
<div style="width: 50%">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="codigo">Codigo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="factura.codigo" id="codigo" placeholder="Introducir codigo"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="fecha">Fecha:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" ng-model="factura.fecha" id="fecha" placeholder="yyyy-MM-dd"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pais">Pais:</label>
            <div class="col-sm-10">
                 <div class="my-select">
                    <input class="form-control" type="hidden" value="{{factura.pais}}" id="pais">

                    <a class="my-selected">
                        <img class="my-selected-image" src="images/flags/16/{{factura.pais.sigla}}.png" style="margin-top: 0px;">
                        <label class="my-selected-text" >{{factura.pais.name}}</label>
                    </a>
                     <span class="my-pointer my-pointer-down"></span>
                 </div>

                 <ul class="my-options my-click-off-close" style="display: block;">
                    <li ng-repeat="i in paises" ng-element-ready>
                        <a class="my-option my-option-selected">
                            <input class="my-option-value" type="hidden" value={{i}} />
                            <img class="my-option-image" src="images/flags/16/{{i.sigla}}.png">
                            <label class="my-option-text" >{{i.name}}</label>
                        </a>
                    </li>
                 </ul>

            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="entrega">Entrega:</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" ng-model="factura.entrega" id="entrega" placeholder="Seleccionar entrega">
                    <option value="EXW">EXW - En Fábrica</option>
                    <option value="FCA">FCA - Franco transportista</option>
                    <option value="FAS">FAS - Franco al costado del buque</option>
                    <option value="FOB">FOB - Franco a Bordo</option>
                    <option value="CFR">CFR - Coste y flete (C&F)</option>
                    <option value="CIF">CIF - Coste seguro y flete</option>
                    <option value="CPT">CPT - Porte pagado hasta punto de destino</option>
                    <option value="CIP">CIP - Porte pagado + seguro hasta punto de destino incl.</option>
                    <option value="DAF">DAF - Franco frontera</option>
                    <option value="DES">DES - Franco (ex ship)</option>
                    <option value="DEQ">DEQ - Franco sobre muelle</option>
                    <option value="DDU">DDU - Franco sin despachar en aduana</option>
                    <option value="DDP">DDP - Franco despacho en aduana</option>
                    <option value="XXX">XXX - Otras condiciones distintas</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="transporte">Transporte:</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" ng-options="p.name for p in transportes track by p.codigo" ng-model="factura.transporte" id="transporte" placeholder="seleccionar transporte">
                    <option value="p">-- Seleccionar transporte --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="proveedor">Proveedor:</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" ng-options="pr.name for pr in proveedores track by pr.id" ng-model="factura.proveedor" id="proveedor">
                    <option value="pr">Seleccionar proveedor</option>
                </select>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-success" ng-disabled="error || incomplete" ng-click="saveAction()">
                <span class="glyphicon glyphicon-save"></span> {{buttonCaption}}
            </button>
        </div>
    </form>
    <hr>
</div>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>categoria</th>
            <th>importe</th>
            <th>peso</th>
            <th>unidades</th>
        </tr>
        <tr>
            <td colspan="6">
                <button class="btn " ng-click="addMaterial()">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Nuevo registro
                </button>
            </td>
        </tr>
        </thead>
        <tr ng-repeat="item in factura.materiales">
            <td>{{item.id}}</td>
            <td>
                <div class="col-sm-10">
                    <select type="text" class="form-control" ng-options="cat.name for cat in categories track by cat.id" ng-model="item.category" id="category" placeholder="seleccionar categoria">
                        <option value="cat">-- Seleccionar categoria --</option>
                    </select>
                </div>
            </td>
            <td>
                <input type="text" class="form-control"  ng-model="item.importe" ng-pattern="/^\d+(,\d{1,2})?$/" placeholder="Introducir importe"/>
            <td>
                <input type="text" class="form-control" ng-model="item.peso" placeholder="Introducir peso"/>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="item.unidades" placeholder="Introducir unidades"/>
            </td>

            <td>
                <button class="btn" ng-click="deleteMaterial($index)">
                    <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete{{$index}}
                </button>
            </td>
        </tr>
    </table>
</div>
{{factura.fecha}}
